body, html{
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 180%;
    color: #666;
    text-align: center;
}

.container{
    display: inline;
    text-align: center;
}
.ten
{
    display: inline;
    text-align: center;
}



.col-4
{
    
    list-style: none;
    justify-content: end;
   display: inline;
   
   text-align: center;
    
}

.col-4 li
{
    display: inline-block;
    
}


.col-4 li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.col-4 li a:hover
{
    border: 1px solid white;
}


.row
{
    max-width: 1200px;
    margin: auto;
}


.aboutMe
{
    text-align: center;
    height: 50%;
    
}




.text
{
    text-align: center;
}


.parallax1
{
    background: url(fairy.jpg);
    min-height: 100%;
    text-align: center;
    
}

.parallax2
{
    background: url(mat2.jpg.jpg);
    min-height: 100%;
    text-align: center;
}

.parallax3
{
    background: url(clue3.jpg);
    min-height: 100%;
    text-align: center;
}

.parallax4
{
    background: url(retouch.jpg);
    min-height: 100%;
}

.parallax1, .parallax2, .parallax3, .parallax4 {
    position: relative;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.heading{
    position: absolute;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 550%;
    top: 60%;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 80px;
    text-shadow: 0 0 10px #000;
}

.heading-sm{
    position: absolute;
    top: 45%;
    width: 100%;
    color: #fff;
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #000;  
}

.two-col {
    float: left;
    
    padding: 0 25%;
    text-align: left;
    
    

}


section{
    overflow: auto;
    padding: 50px 80px;
}




.dark {
    overflow: auto;
    padding: 50px 80px;
    background-color: #323232;
    
    text-align: center;
  }

 
.icons
{

   widows: 500pxt;
   height: 100px;
  
}









.section-con {
    position: relative;
    top: -140px;
   max-height: 100px;
 
}

.contact-section {

    padding: 80px 0;
    text-align: center;
}

.inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}

.contact-section h1 {
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}

.name, .email, .message {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: black;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
}


.name{
    float: left;
    width: 270px;
}

.email {
    float: right;
    width: 270px;
}


.message{
    min-width: 100%;
    max-height: 100%;
}

.contact-section button {
    background: none;
    color: black;
    border: 1px solid #888;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
}


.contact-section button:hover {
    background: #dfd3c3;
    color: black;
}


@media screen and (max-width:600px){
    .name, .email{
        width: 100px;
    }
}